In [1]:
import pandas as pd

»Wir erstellen einen neuen DataFrame, der Preise für verschiedene Journale enthält.«

In [2]:
df_doi_journal_price = pd.DataFrame({
    "DOI": [
        "10.1371/journal.pcbi.1004668",
        "10.21105/joss.01035",
        "10.12688/f1000research.18866.2",
        "10.1038/s41598-019-52881-4",
        "10.1186/s12859-019-3171-0",
        "10.1186/s12859-019-3171-1",
        "10.1186/s12859-019-3171-3"],
    "journal": [
        "PLoS Comput Biol",
        "BMC Bioinformatics",
        "F1000Res",
        "Sci Rep",
        "BMC Bioinformatics",
        "PLoS Comput Biol",
        "BMC Bioinformatics"],
    "price": [
        2000,
        2000,
        1500,
        1000,
        1500,
        1500,
        1600
    ]})

»Nutze die GroupBy von pandas um die Summe der Ausgaben und die Durchschnittlichen Preise pro Journal zu berechnen.«
[pandas.DataFrame.groupby](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.groupby.html, "groupby in der Pandas-Dokumentation")

In [3]:
# Durchschnittspreis .mean
df_doi_journal_price.groupby(['journal']).mean()

                    price
journal
BMC Bioinformatics   1700
F1000Res             1500
PLoS Comput Biol     1750
Sci Rep              1000

In [8]:
# Summe der Ausgaben pro Journal .sum
df_doi_journal_price.groupby(['journal']).sum()

                    price
journal
BMC Bioinformatics   5100
F1000Res             1500
PLoS Comput Biol     3500
Sci Rep              1000

In [20]:
# Summe einer einzelnen Spalte (die im Dataframe festgelegt wurde)
print("Gesamte Ausgaben")
df_doi_journal_price["price"].sum()

Gesamte Ausgaben

11100